/**/
h1{
  font-family: 'Pacifico', cursive;
  color: white;
}

label{
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 150%;
}

body {
    background-image:url('https://media.giphy.com/media/rWY9ySfjytitq/giphy.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}